/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-sep-2014, 21:07:37
    Author     : mathieuvandenmooter
*/

*{ 
    padding : 0; 
    margin : 0; 
}
:-moz-placeholder {
    color: #c9c9c9 !important;
    font-size: 13px;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-size: 13px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.playlist {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
.playlist:last-child {
  border: none;
}
 
.playlist  a {
  text-decoration: none;
  color: #000;
  display: block;
  text-align: center;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.playlist  a:hover {
  font-size: 30px;
  background: #f6f6f6;
}

table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 400px;
}	

th {
	text-decoration: none;
        color: #000;
        -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
        -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
        -o-transition: font-size 0.3s ease, background-color 0.3s ease;
        -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
        transition: font-size 0.3s ease, background-color 0.3s ease;	
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	


tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}
h2{
    text-align: center;
}
table.scroll tbody {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    
}

body { 
    margin : 0; 
    padding : 0; 
    font : normal 73%/1.5em 'Trebuchet MS', Tahoma, sans-serif; 
    color : #555; 
    background : #fff ; 
    text-align : center; 
    margin-left: auto;
    margin-right: auto;
    width : 100%; 
 
} 

#topheader-content, #topfooter-content { 
    width : 860px; 
    clear:both;
    margin-left: auto;
    margin-right: auto;
}
#topheader { 
    padding-top: 20px;
    padding-bottom: 10px;
    text-align : left; 
      /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
} 
#topheader-content { 
    border-top : 1px solid #eaeaea; 
    margin-left: auto;
    margin-right: auto;
    color: #5457D7;
} 
#topcontent { 
    text-align : left; 
    padding : 0; 
    margin-left: auto;
    margin-right: auto;
    background:#A7DBD8;
}
#topcontent-wrap { 
    height: 400px;
    width:1000px;
     background:#A7DBD8;
    margin-left: auto;
    margin-right: auto;
    clear: both;
} 
#topmain {}
#getitbar { 
     padding-top:70px;
      /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
} 
.getit {
    text-align: center;
    padding: 5px 5px 5px 5px;
    width: 850px;
    background: whitesmoke;
}
#checkitbar { 
     padding-top:10px;
      /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
} 
.checkit {
    text-align: center;
    padding: 5px 5px 5px 5px;
    width: 850px;
    background: whitesmoke;
}
input[type=text]{

    padding: 5px 10px;
    width: 820px;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    -moz-outline-radius: 3px; 
    @include box-shadow(inset 0 1px 3px rgba(black, .12));
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 14px;

    &:focus {
        border-color: #7dc9e2;
        outline-color: #dceefc;
        outline-offset: 0; 
    }
}

#bottomcontent { 
    text-align : left; 
    padding : 0; 
    margin-left: auto;
    margin-right: auto;
    width:850px;
} 
#bottomcontet-wrap {  
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
#contentinterface { 
    text-align : left; 
    padding : 0;
    height: 280px;
    width: 33%;
    float:left;
    margin-left: auto;
    margin-right: auto;
    
  
}
#contentinterface-wrap { 
   margin-left: auto;
    clear: both
}
.ImageMenu{ 
   margin-top: 110px; 
   margin-right: 2px;
   float: left;
} 
.stylish{
    display:block;
    width:200px;
    height:200px;
    border-radius:132px;
    font-size:20px;
    color: #FA6900;
    line-height:100px;
    text-align:center;
    text-decoration:none;
    text-shadow:0 1px 0 #fff;
    margin-top: 40px; 
    float: left;
    text-decoration:none;
    background:#E0E4CC;
     /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
.stylish:hover{
    color:#aaa;
    text-decoration:none;
    background:#E0E4CC;
     /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

#contentinterval { 
    text-align : left; 
    padding : 0;
    height: 280px;
    width: 33%;
    float:right;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
  
}
#contentinterval-wrap { 
    
    margin-left: auto;
    clear: both;
} 

#contentselection { 
    text-align : right; 
    padding : 0;
    height: 280px;
    width: 33%;
    float:left;
    margin-left: auto;
    margin-right: auto;
  
}
#contentselection-wrap { 
    
    margin-left: auto;
    clear: both;
} 

.feature {
    padding-top: 57px;
    padding-bottom: 57px;
    zoom: 1;
    clear: both;
    margin-left: -5%
}

.feature:before, .feature:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden
}

.feature:after {
    clear: both
}

.feature-figure {
    float: left;
    width: 45.23809523809524%;
    margin-left: 4.761904761904762%;
    text-align: right;

}

.feature.style-flipped .feature-figure {
    text-align: left
}

.feature-description {
    float: left;
    width: 45.23809523809524%;
    margin-left: 4.761904761904762%;
    text-align: left
}

.feature.style-flipped .feature-description {
    text-align: left
}

.feature-header {
    margin-bottom: 19px
}

.feature-headline {
    font-size: 24px;
    line-height: 1.3
}

.feature-byline {
    font-size: 18px;
    line-height: 1.3;
    color: #888
}

.feature-p {
    margin-bottom: 19px;
    clear: both;
}
.feature-getit {
    margin: 10px;
    
}

.feature-checkit {
    margin: 10px;
    
}
.feature-button-getit {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px;
    font-size: 14px;
    line-height: normal !important;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    color: #fff;
    background: #79a9ec;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7eaced), color-stop(1, #75a6eb));
    background: -webkit-linear-gradient(top, #7eaced, #75a6eb);
    background: -moz-linear-gradient(top, #7eaced, #75a6eb);
    background: -ms-linear-gradient(top, #7eaced, #75a6eb);
    border: 1px solid #639be9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: box-shadow .1s ease-out;
    -moz-transition: box-shadow .1s ease-out;
    -o-transition: box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out
}
.feature-button-checkit {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px;
    font-size: 14px;
    line-height: normal !important;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    color: #fff;
    background: #79a9ec;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7eaced), color-stop(1, #75a6eb));
    background: -webkit-linear-gradient(top, #7eaced, #75a6eb);
    background: -moz-linear-gradient(top, #7eaced, #75a6eb);
    background: -ms-linear-gradient(top, #7eaced, #75a6eb);
    border: 1px solid #639be9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: box-shadow .1s ease-out;
    -moz-transition: box-shadow .1s ease-out;
    -o-transition: box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out
}

.feature-button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px;
    font-size: 14px;
    line-height: normal !important;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    color: #fff;
    background: #79a9ec;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7eaced), color-stop(1, #75a6eb));
    background: -webkit-linear-gradient(top, #7eaced, #75a6eb);
    background: -moz-linear-gradient(top, #7eaced, #75a6eb);
    background: -ms-linear-gradient(top, #7eaced, #75a6eb);
    border: 1px solid #639be9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: box-shadow .1s ease-out;
    -moz-transition: box-shadow .1s ease-out;
    -o-transition: box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out
}

.feature-button:hover {
    color: #fff;
    background: #82afed;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #87b2ee), color-stop(1, #7eaced));
    background: -webkit-linear-gradient(top, #87b2ee, #7eaced);
    background: -moz-linear-gradient(top, #87b2ee, #7eaced);
    background: -ms-linear-gradient(top, #87b2ee, #7eaced);
    border-color: #6ca0ea;
    text-decoration: none;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4)
}

.feature-button:active {
    border-color: #5e98e8;
    background: #79a9ec;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset
}
